body {
    background-color: rgb(247, 162, 35);
    padding: 0;
    margin: 0;
}
header {
    position: fixed;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(245, 114, 27);
}
#Avatar {
    float: left;
    margin-right: 20px;
}
.mand li {
    background-color: #f8cd58;
    margin: 3px;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 10px;
    text-align: left;
    border-radius: 5px;
    border: 2px solid rgb(255, 238, 143);
    list-style-type: none;
    overflow-x:hidden; 
    
}
.mand {
    padding-left: 0%;
    border: 5px solid #9c3f00;
    border-left: 0;
    border-right: 0;
    margin: 10px auto;
    overflow: scroll;
    min-width: 10px;
    max-height: 200px;
    max-width: 200px;
    background-color: #9c3f00;
    border-radius: 6px;
}
.rine {
    background-color: #ff781e;
    border-radius: 10px;
    width: 250px;
    max-height: 500px;
    position: absolute;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid rgb(253, 186, 109);
    
}
#wanna {
    border-radius: 8px;
    border-color: red;
    border-style:solid;
}
.submit1 {
    display: block;
    border-radius: 100px;
    background-color: #f3c46e;
    border-color: rgb(255, 151, 91);
    color: rgb(0, 0, 0);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 15%;
    background-color: rgb(245, 114, 27);
    padding-bottom: 10px;
}
section {
    display: flex;
}
article {
    margin: 5px 0;
    width: 100%;
    height: 50px;
    align-items: center;
}
#no {
    padding-top: 4px;
}
.List {
    float: right;

}
